<div class="row">
  <div class="col-md-6">
    <h2>Smart/view component- My favorite cities:</h2>
    <!-- The <city-list>-component is now the view component for list of cities -->
    <city-list
      [cities]="cities"
      (selectCity)="getCity($event)"
      (toggleVisited)="toggleCity($event)"
    >
    </city-list>
    <hr />
    <!--Workshop 1. - create a view component for the current/selected city component -->

    <app-current-city
      *ngIf="currentCity"
      [currentCity]="currentCity"
      [cityPhoto]="cityPhoto"
    ></app-current-city>
  </div>
  <div class="col-md-4">
    <!--Workshop 2. - create a view component for the "I visited" component -->
    <app-visited-list [visitedCities]="visitedCities"></app-visited-list>
  </div>
</div>
